body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
text-align: center;
}


input {
padding: 8px;
width: 220px;
}


button {
padding: 8px 12px;
cursor: pointer;
}


#character {
margin-top: 20px;
}


.card {
background: white;
padding: 20px;
width: 300px;
margin: auto;
border-radius: 8px;
}


.card img {
width: 100%;
}